<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /zadanie/
RewriteRule ^(Config|App|Partials) - [F,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]
RewriteRule ^([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/$ index.php?mode=$1&action=$2&id=$3&p1=$4&p2=$5&p3=$6&p4=$7&p5=$8 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)$ index.php?mode=$1&action=$2&id=$3&p1=$4&p2=$5&p3=$6&p4=$7&p5=$8 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/$ index.php?mode=$1&action=$2&id=$3&p1=$4&p2=$5&p3=$6&p4=$7 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)$ index.php?mode=$1&action=$2&id=$3&p1=$4&p2=$5&p3=$6&p4=$7 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/$ index.php?mode=$1&action=$2&id=$3&p1=$4&p2=$5&p3=$6 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)$ index.php?mode=$1&action=$2&id=$3&p1=$4&p2=$5&p3=$6 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/$ index.php?mode=$1&action=$2&id=$3&p1=$4&p2=$5 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)$ index.php?mode=$1&action=$2&id=$3&p1=$4&p2=$5 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)/$ index.php?mode=$1&action=$2&id=$3&p1=$4 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)/([\w-]+)/([\w-]+)$ index.php?mode=$1&action=$2&id=$3&p1=$4 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)/([\w-]+)/$ index.php?mode=$1&action=$2&id=$3 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)/([\w-]+)$ index.php?mode=$1&action=$2&id=$3 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)/$ index.php?mode=$1&action=$2 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)$ index.php?mode=$1&action=$2 [L,QSA]
RewriteRule ^([\w-]+)/$ index.php?mode=$1 [L,QSA]
RewriteRule ^([\w-]+)$ index.php?mode=$1 [L,QSA]
</IfModule>