.headerimage img{
    height: 100%;
   filter: blur(5px);

}
.headerimage{
    height: 400px;
    filter: brightness(50%);
}

.mycon{
    width: 100%;
    top: 10%;
}
.white{
    color: white;
}
.mt-my{
    margin-top: 7rem !important;

}


hr{
    width: 100%;
    background: darkgray;
}

.bold{
    font-weight: bold;
}

.card{
    border-radius: 3px;
    width: 15rem;
    height: 14rem;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}


.myfoot{
    font-size: 10px;
    color: darkgray;
}


.filter-green{
    filter: invert(46%) sepia(13.1%) saturate(20%); ;
}
.darkgrey{
    color: darkgray;
}

.mycall{
    font-size: 10px;

}



.modal {
    text-align: center;
    padding: 0!important;
}


.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

hr .dialog{
    background: darkgray;
}

input::placeholder{
    font-size: 10px;
}

.font-12{
    font-size: 12px;
}