.headerimage img{
    height: 100%;
   filter: blur(5px);

}
.headerimage{
    height: 400px;
    filter: brightness(50%);
}

.mycon{
    width: 100%;
    top: 10%;
}
.white{
    color: white;
}
.mt-my{
    margin-top: 7rem !important;

}


hr{
    width: 100%;
    background: darkgray;
}

.bold{
    font-weight: bold;
}

.card{
    border-radius: 3px;
    width: 15rem;
    height: 14rem;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.cursor {
    cursor: pointer;
}
.myfoot{
    font-size: 10px;
    color: darkgray;
}


.filter-green{
    filter: invert(46%) sepia(13.1%) saturate(20%); ;
}
.darkgrey{
    color: darkgray;
}

.mycall{
    font-size: 10px;

}



.modal {
    text-align: center;
    padding: 0!important;
}
.addkategory{
    width: 100%;
    height: 10%;
    min-width: 600px;
    min-height: 150px;
    background: white;
    border-radius: 5px;
    z-index: 200;
    position: relative;
}


.black{
    opacity: 0.8 ;
}


.addkategory hr{
    background: darkgray;
}

.mynav{
    height: 30px;

}

.display-non{
    display: none;
}

hr .dialog{
    background: darkgray;
}

input::placeholder{
    font-size: 10px;
}

.font-12{
    font-size: 12px;
}

